body {
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans';
}

h1, h2, h3 {
    font-family: 'Days One';
}

p.janee {
    font-size: 400%;
    font-family: 'Lobster';
}

p.nee {
    color: red;
}

p.ja {
    color: green;
}

p.description{
    font-size: 130%;
}

span#counter {
    color: blue;
}

